<div class="text-center jumbotron">
  <h1>NewsHUB</h1>
  <h2>Welcome!</h2>
  <h3>The source for everything news</h3>
  <br/>
  <br/>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      new_user_session_path, class: "btn btn-large btn-primary" %>
</div>
