<div class="page-header">
  <%= link_to edit_source_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add Sources
  <% end %>
  <h1>My News Feeds</h1>
</div>
<div class="jumbotron">
  <h3>Source(s)</h3>
  Select from the list to get the current events.
  <br><br>
  <div class="row source">
    <div class="list-group">
      <%= content_tag_for(:tr, @feeds) do |feed| %>
        <div class="col-sm-3">
          <%= link_to feed.title, feed, class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

